.logoContainer {
  text-align: center;
  padding-bottom: 0;
}

.logo {
  height: 12rem;
  width: 12rem;
  border-radius: 10rem;
  border: 1px solid rgba(255, 197, 197, 0.938);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  opacity: 1
}

.logo:hover {
  opacity: 0.8;
  transition: 1000ms;
}


