.logoContainer {
  @media screen and (max-width: 768px) {
    background-size: cover;
    border-radius: 1%;
    background-size: cover;
    background-position: 45%;
  }
}

.logo {
  height: 5rem;
  justify-content: center;
  width: 5rem;
  border-radius: 10rem;
  padding: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  opacity: 1;
  transition: 1000ms;
}

.logo:hover {
  opacity: 0.8;
  transition: 1000ms;
}
