.charmMain {
  border: 1px solid rgba(255, 197, 197, 0.938);
  border-radius: 10px;
  background-color: rgba(243, 235, 235, 0.669);
  color: rgba(247, 120, 120, 0.982);
  text-align: center;
  align-items: center;
  height: auto;
  width: auto;
  text-transform: lowercase;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.charmTitle {
  text-align: center;
  font-size: 1.3rem;
}

.charmDesc {
  white-space: pre-wrap;
  color: rgb(255, 104, 104);
  overflow: hidden;
}

.charmPrice {
  font: bold;
  margin-top: 10px;
}

.charmImg {
  border-radius: 10px;
  width: 70%;
  height: auto;
}

.charmFooter {
  color: rgb(255, 104, 104);
  opacity: 0.8;
  border-top: 0.5px dashed rgb(255, 104, 104);
}
