@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MoreSugar";
  src: url("/fonts/MoreSugar-Regular.ttf") format("ttf"),
    url("/fonts/MoreSugar-Thin.ttf") format("truetype");
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(162, 222, 243, 0.651);
}

a {
  font-weight: 500;
  color: #236ae4;
  text-decoration: inherit;
}
a:hover {
  color: #236ae4;
}

body {
  font-family: "MoreSugar", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: small;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffe6ee;
  /* background-image: url("../assets/floralFrame.svg");
  background-blend-mode: overlay;
  background-position: fixed;
  background-position-x: 100%;
  background-size: 100%; */
}

svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  
}
button:hover {
  border-color: #646cff;
}
button:focus,
button */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

header {
  justify-content: center;
  display: flex;
  height: 3rem;
  color: #fd9bdb;
  align-items: center;
  top: 0;

  width: 100%;
  z-index: 100;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

main {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

footer {
  background-color: rgb(240, 240, 240), rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vh;
  position: fixed;
  color: rgb(243, 115, 198);
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.btn-nav {
  background-color: rgb(145, 222, 241);
  opacity: 0.8;
  border: 1px solid rgba(243, 115, 198, 0.427);
  color: rgb(243, 115, 198);
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  @media screen and (max-width: 768px) {
    padding: 0.3rem 0.5rem;
  }
}

.btn-nav:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-nav:hover {
  background-color: rgb(243, 115, 198);
  color: rgb(145, 222, 241);
}

.btn-xxl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}

#dropdown-basic {
  padding: 0.5rem 0.5rem;
  border-radius: 6px;
  @media screen and (max-width: 768px) {
    padding: 0.3rem 0.5rem;
  }
}

#error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #213547;
}

#loading-status {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #213547;
}